<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Board</title>
    <link rel="stylesheet" th:href="@{/board/list.css}"/>
</head>
<body>
<div class="container">
    <section class="section">
        <div class="logo-container">
            <img th:src="@{/board/techit.png}" alt="Logo" class="logo" >
        </div>
        <div class="tables">
            <table class="table is-bordered" th:if="${!boards.empty}">
                <thead class="table-header">
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Title</th>
                    <th>Created At</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="board : ${boards}">
                    <td th:text="${board.id}"></td>
                    <td th:text="${board.name}"></td>
                    <td>
                        <a th:href="@{/view/{id}(id=${board.id})}" th:text="${board.title}"></a>
                    </td>
                    <td th:text="${#temporals.format(board.createdAt, 'yyyy/MM/dd')}"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <br/>
        <div class="pagination columns is-mobile is-centered" role="navigation" aria-label="pagination" th:if="${boards.totalPages > 1}">
            <ul class="pagination-list">
                <li th:each="i : ${#numbers.sequence(1, boards.totalPages)}">
                    <a th:href="@{/list(page=${i})}" class="pagination-link" th:text="${i}"></a>
                </li>
            </ul>
        </div>
        <br/>
        <div class="editbuttonwrap">
            <span class="editbutton"><a th:href="@{/writeform}">글쓰기</a></span>
        </div>
    </section>
</body>
</html>
